{% extends "base.html" %}

{% block head_title %} {{ user.username }} || {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>{{ user.username }}</h1>

<hr/>
{% if locations %}
    {% for obj in locations %}
    <div class='row'>
        <div class='col-sm-12'>
            <div class='thumbnail'> 
                <h3>{{ obj.title }}</h3> 
                <p>{{ obj.location }} | {{ obj.category }}</p>
                <p>
                    <ul>
                        {% for item in obj.item_set.all %}
                            <li style='margin-bottom: 10px'><b>{{ item.name }}</b><br/> 
                                {{ item.contents }}
                            </li>
                        {% endfor %}
                    </ul>
                </p>
                <hr/>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p class='lead'>No Items Found</p>
{% endif %}

{% endblock %}