{% extends "base.html" %}

{% block head_title %} Menu Items || {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>{{ object.name }}</h1>
<p>Location: {{ object.restaurant.name }}</p>

{% if object.contents %}
    Contents
    {% if object.contents %}
        <ul>
            {% for item in object.get_contents %}                
            <li>{{ item }}</li>
            {% endfor %}            
        </ul>
    {% endif %}

    Excludes
    {% if object.excludes %}
        <ul>
            {% for item in object.get_excludes %}                
            <li>{{ item }}</li>
            {% endfor %}            
        </ul>
    {% endif %}
{% endif %}

{% endblock %}